html, body {
    margin: 0;
    padding: 0;
}

html, button, input, textarea {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Open+Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

html {
    background-color: #fff;
    color: $secondary;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

a {
    color: $primary;
    text-decoration: none;
}

p {
    margin: 0 0 15px 0;

}


h1, .heading1 {
    font-size: 38px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

h2, .heading2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

sub {
    font-size: 12px;
}

.article {
    background-color: #f5f5f5;
}