<ul class="social-container">
    <li>
        <a class="a-twitter" target="_blank" href="http://www.twitter.com/dominikangerer1" title="DominikAngerer1@Twitter">
            <i class="icon-twitter"></i>
        </a>
    </li>
    <li>
        <a class="a-facebook" href="https://github.com/DominikAngerer" title="DominikAngerer94@Facebook">
            <i class="icon-facebook"></i>
        </a>
    </li>
    <li>
        <a class="a-gplus" target="_blank" href="https://github.com/DominikAngerer" title="DominikAngerer@GooglePlus">
            <i class="icon-gplus"></i>
        </a>
    </li>
    <li>
        <a class="a-xing" target="_blank" href="https://github.com/DominikAngerer" title="Dominik_Angerer2@Xing">
            <i class="icon-xing"></i>
        </a>
    </li>
    <li>
        <a class="a-github" target="_blank" href="https://github.com/DominikAngerer" title="DominikAngerer@Github">
            <i class="icon-github"></i>
        </a>
    </li>
    <li>
        <a class="a-stackoverflow" target="_blank" href="http://stackoverflow.com/users/1581725/dominikangerer" title="DominikAngerer@Stackoverflow">
            <i class="icon-stackoverflow"></i>
        </a>
    </li>
</ul>